{% extends "base.html" %}

{% block title %} Post your comment... {% endblock %}

{% block body %}


{% if user.is_authenticated %}

        <h1 class="text-center small-caps">Add Your comment</h1> <br><br>

                <div class="container p-4" style="border-radius: 40px;">
                    <div class="row justify-content-center">
                        <div class="col-md-5">
                            <form method="POST">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button class="btn btn-primary">
                                    Add comment
                                    <i class="fa fa-send"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>

{% else %}
    <h4 class="small-caps font-weight-bolder errors">
        You aren't allowed here... Please try some other time...
    </h4>
{% endif %}

<script>
    var done_by = {{ user.username }};
    document.getElementById('done_by').value = done_by;
</script>

{% endblock %}