{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %} {{ cat }} posts! {% endblock %}

{% block body %}

  <div class="container-fluid mt-4">
      <h3 class="underline small-caps text-center text-dark">{{ cat }}</h3>
      <h4 class="text-center"><small> ({{ count }}) results...</small></h4>

    <div class="row justify-content-around">


      {% for i in posts %}


      <div class="col-md-5">

          <div class="card mb-3" style="max-width: fit-content;background-color: rgba(0, 0, 0, 0.13);" >
            <div class="row no-gutters">
              <div class="col-md-4">
                <img src="{{ i.header_image.url }}" class="card-img" alt="{{ i.title }}" height="100%">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h7 class="card-title"><a href="{% url 'article-detail' i.pk %}#post-detail">{{ i.title }}</a></h7><br>
                  <small class="card-text text-muted">By, <a href="{% url 'view-profile' i.author.profile.id %}">{{ i.author.username }}</a></small><br>
                  <p class="card-text">{{ i.snippet |slice:":37" }}...</p>
                  <p class="card-text row justify-content-around">
                      <small class="text-muted">
                        <i class="mx-1 fa fa-thumbs-up"> {{ i.likes.count }}</i>
                        <i class="mx-1 fa fa-heart"> {{ i.loves.count }}</i>
                        <i class="mx-1 fa fa-commenting-o"> {{ i.comments.count }}</i>
                      </small>
                      <small class="text-muted text-right">
                        {{ i.publication_date | naturaltime }}
                      </small>
                    </p>
                </div>
              </div>
            </div>
          </div>
      </div>


      {% endfor %}

    </div> <!-- row ends -->

  </div>

{% endblock %}