*{
    margin: 0;
    padding: 0;
}

.small-caps{
    font-variant: small-caps;
}

.underline{
    text-decoration: underline gold;
}

.stickyTop{
    position: fixed;
    top: 0;
    width: 100%;
    z-index:99;
}

#Main-heading{
    font-family: serif;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -70%);
    z-index:98;
    background-color: #ffffff3f;
    border-radius: 20px;
    padding: 20px;
}

.w-80{
    width: 80%;
}

.text-justify{
    text-align: justify;
}

#article-body::first-letter{
    font-size: 30px;
    font-weight: bolder;
    font-style: italic;
}